@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

:root{
    --color-btn-B: #ba1d33;
    --color-black-B: black;
    --color-white-B: white;
    --color-nav-B: rgba(0,0,0,0.4);
    --color-grey-B: #d8d8d8;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-shadow: inherit
}

html{
    font-size: 16px;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/*-- general --*/
button:focus
{
    outline: none;
}

button
{
    border: none;
}

/*-- NavBar --*/
.nav   
{
    width: 100%;
    height: 80px;
    background: var(--color-nav-B);
    position: fixed;
    z-index: 22;
}

.nav ul 
{
    display: flex;
    padding: 30px 20%;
}

.nav ul li
{
    list-style: none;
    margin-right: 30px;
}

.nav ul li:hover a
{
    border-bottom: 2px solid
}

.nav ul li a
{
    text-decoration: none;
    color: var(--color-white-B);
}


/*-- Header --*/
.header
{
    background-image: url('../img/fcb95c45-11ff-45d2-ac40-ada2ea2f812a_@2x.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.btn-head
{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    background: var(--color-btn-B);
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--color-white-B);
    font-size: 13px;
    font-weight: bold;
}


.B-circle
{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.BM-circle
{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--color-btn-B);
}

.BM-circle1
{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--color-grey-B);
}


/*box content*/

.Ncontent{
    width: 1392px;
    height: 500px;
    margin-left: 300px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.Ncontent h1, p{
    text-align: center;
}

.Ncontent p{
    padding-top:7px;
}

/*Ncards*/

.Ncards{
    width: 1300px;
    height: 310px;
    margin-left: 45px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.Nillustrations{
    width: 500px; 
    height: 90%;
    background-image: url('../img/b40e9fcf-cc8e-4460-b82f-8ae815af564b_@2x.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.Ndescriptions{
    margin-top: 300px;
    box-shadow: none;
}

.Nillustrations1{
    width: 500px; 
    height: 90%;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
   background-image: url('../img/ec10ed81-7fe0-4d2b-841b-90004ae81109_@2x.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.Nillustrations2{
    width: 500px; 
    height: 90%;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    background-image: url('../img/04cf634f-8aec-4610-89af-2a3b98811fd7_@2x.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px 6px #ccc;
}


/* CSS Of Third Part */

.DthirdPart
{
    display: flex;
    height: 300px;
}

/* CSS Of Third Part Left */

.DpartLeft
{
    flex: 1;
    background-color: #514f55;
    text-align: center;
}

.DpartLeft .Dpic
{
    height: 100px;
    width: 100px;
    background-color: #d29814;
    position: relative;
    left: 45%;
    top: 15%;
}

.DpartLeft img
{
    height: 60px;
    width: 60px;
}

.DdetailLeft
{
    margin-top: 7%;
}

.DdetailLeft p
{
    font-size: 18px;
    color: white;
}

.DdetailLeft button
{
    height: 40px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 12px;
}


/* CSS Of Third Part Right */

.DpartRight
{
    flex: 1;
    background-color: #bb1f32;
    text-align: center;
}

.DrightCercle
{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 2px solid white;
    position: relative;
    left: 47%;
    top: 15%;
}

.DdetailRight
{
    margin-top: 7%;
}

.DdetailRight p
{
    font-size: 28px;
    color: white;
}

.DdetailRight button
{
    height: 40px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    margin-top: 13px;
    font-weight: bolder;
    font-size: 12px;
}

/** m_content**/
.m-content
{
  min-height: 400px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  margin: 100px 0;
}

.m-blog
{
    width: 67%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    scroll-padding-left: 10px;
    padding-top: 30px;
    margin-top: 20px;
   
  
}

.m-card-one , .m-card-two, .m-card-three, .m-card-four
{
    flex: 1;
    background-color: #fbf5ee;
    border-radius: 10px;
    margin-right: 30px;
    height: 300px;
    text-align: justify;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
    box-shadow:3px 4px 36px -3px rgb(197, 194, 194);
}

.m-blog .m-h2
{
    box-shadow: none;
}

.m-image
{
    height: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: none;
}

.m-content button
{
    height:50px;
    width: 300px;
    color: white;
    background-color: #f7a802;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}

.m-content button:focus
{
    outline: none;
}

